/* Form.css */

.form-header {
    font-size: .7rem;
    font-weight: bold;
    color: #d19191;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 