.custom-input-wrapper {
  position: relative;
  margin: 20px 0;
}

.custom-input {
  width: 100%;/* Make input take up full width of container */
    height: 35px;
    padding: 10px; /* Padding inside the input */
    margin-top: 8px; /* Add a little space at the top of the input field */
    font-size: 16px; /* Font size for input text */
    border: 2px solid #ccc; /* Default border color */
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box; /* Include padding and border in element's width and height */
    transition: border-color 0.3s ease; /* Smooth transition for border color on focus */
}

.custom-input:focus {
  border-color: #007bff;
}

.custom-input-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #aaa;
  padding: 0 5px;
  transition: 0.2s;
  pointer-events: none;
}

.custom-input-wrapper.filled .custom-input-label,
.custom-input:focus + .custom-input-label {
  top: -10px;
  font-size: 12px;
  color: #007bff;
}
